header {
	
	background-color:#EBF4FA;
	padding: 10px;
	margin: 1px;
	font-family: "comic sans Ms";
	text-align:center;
}

nav{
	overflow: hidden;
	padding: 10px;
	background-color: #F5F5DC;
	font-family: "comic sans Ms";

	
}
nav a{
	float: left;
	color: black;
	padding:15%;

}
nav a:hover{
	background-color:#F0F8FF;
}
.column{
	float: left;
	padding: 10px;
	
}
.column.side{
	width:15%;
}
.column.middle{
	width: 80%;

}
footer {
	clear: both;
	background-color:#EBF4FA;
	padding: 10px;
	margin: 1px;
	font-family: "comic sans Ms";
	text-align:center;
}
button{
	font-size:20px;
}
input{
	font-size:40px;
}

b{
	font-size: 20px;
}
option{
	font-size:20px;

}